.banner{
    height: 160px;
    
}
#ban{
    font-family: copperplate gothic ;
    margin-left: 200px;
    font-size: 10px;
}

.navbar-contain{
   background-color: rgb(221, 221, 221);
}

#searchbar{
    border-radius: 10px;
}
.type-navbar{
    margin-left: 200px;
    font-size: 25px;
    gap: 60px;
    display: flex;
}
.anchor{
    color: black;
    text-decoration: none;
}

#searchbar{
    height: 50px;
    width: 400px;
    margin-left: 200px;
}

.item{
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
}

.itemlist{
    margin-left: 200px;
    p{
        font-size: 50px;
    }
}

.quantity-btn-container{
    button{
        size: 100px;
    }
}

.green{
    background-color: rgb(7, 250, 7);
    color: rgb(2, 96, 2);
    font-weight: bold;
    margin-left: 10px;
}

.cart{
    font-weight: bold;
    background-color: rgb(107, 211, 107);
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 50px;
    width: 50%;
    height: 20%;
}


.footer{
   background-color: rgb(221, 221, 221);
    border: 2px solid rgb(221, 221, 221);
    width: auto;
    height: 400px;
    position: relative;

}

.location{
    position: absolute;
    bottom: 41%;
    margin-left: 60%;
    margin-bottom: 90px;
    a{
        color: black;
        text-decoration: none;
    }
}

.quickLinks{
    display: flex;
    margin-top: 40px;
    margin-left: 170px;
    font-size: 30px;
}

.services{
    position: absolute;
    font-size: 30px;
    margin-left: 20%;
    bottom: 42%;
}

