.banner{
    height: 160px;
    
}
#ban{
    font-family: copperplate gothic ;
    margin-left: 200px;
    font-size: 100px;
}

.navbar-contain{
   background-color: rgb(221, 221, 221);
}

#searchbar{
    border-radius: 10px;
}
.type-navbar{
    margin-left: 200px;
    font-size: 25px;
    gap: 60px;
    display: flex;
}

#searchbar{
    height: 50px;
    width: 400px;
    margin-left: 200px;
}

.item{
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
}

.itemlist{
    margin-left: 200px;
    p{
        font-size: 50px;
    }
}

.quantity-btn-container{
    button{
        size: 100px;
    }
}